<div
  class="group/icon h-28 flex flex-col items-center opacity-30 transition-all hover:opacity-100 group-hover:scale-95 hover:!scale-110"
>
  <div class="w-20 p-4 bg-neutral-100 rounded-md dark:bg-neutral-950">
    <Astro.props.svg />
  </div>
  <span class="text-nowrap h-4 text-xs text-center hidden mt-2 group-hover/icon:inline">
    {Astro.props.name}
  </span>
</div>
