---
import ContentLayout from "../../layouts/ContentLayout.astro";
---

<ContentLayout title="404 Not Found | Nacho.dev">
  <main class="min-h-svh flex flex-col justify-center items-center gap-1">
    <h1 class="font-semibold text-5xl tracking-widest">404</h1>
    <h2>This page couldn't be found</h2>
  </main>
</ContentLayout>
