---
import ContentLayout from "../layouts/ContentLayout.astro";
import Timeline from "../components/experience/Timeline.astro";
---

<ContentLayout title="Experience" desc="+2 años de experiancia como desarrollador con un amplio stack de tecnologías.">
  <main class="px-6 pt-4">
    <Timeline />
  </main>
</ContentLayout>
